<app-header [title]="'En mi vida'"></app-header>

<ion-content>
   <ion-card>
        <ion-card-header>
             <ion-card-title>
                ¿Por qué es importante para mí la serie Lost?
             </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>
                <p>
                    Lost es importante para mi porque fue la primera serie que mi completamente. Por consiguiente
                    me gustó mucho y me encantó mucho la serie.
                    <br>
                    <br>
                </p>
                <p>
                   Unas de las cosas que me gustó más de la serie es al principio es dificil de entender
                    pero cuando miestras más veia la serie mas la entendia.
                </p>
            </ion-label>
        </ion-card-content>
   </ion-card>
</ion-content>
